<div class="col-md-12">
  <h1>New Vehicle</h1>
  <p>{{ vehicle | json }}</p>
  <form (ngSubmit)="submit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="makeId">Make</label>
      <select name="makeId" id="makeId" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" required #make="ngModel">
        <option value=""></option>
        <option *ngFor="let make of makes" [value]="make.id">{{ make.name }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make.</div>
    </div>
    <div class="form-group">
      <label for="modelId">Model</label>
      <select name="modelId" id="modelId" class="form-control" [(ngModel)]="vehicle.modelId" required #model="ngModel">
          <option value=""></option>
        <option *ngFor="let model of models" [value]="model.id">{{ model.name }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model.</div>
    </div>
    <div class="form-group">
      <p>Is this vehicle registered?</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered">
        <label class="form-check-label" for="registered">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="!vehicle.isRegistered">
        <label class="form-check-label" for="notRegistered">No</label>
      </div>
    </div>
    <h2>Features</h2>
    <div *ngFor="let f of features" class="form-check">
      <input type="checkbox" class="form-check-input" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" [checked]="vehicle.features.includes(f.id)">
      <label for="feature{{ f.id }}" class="form-check-label">
        {{ f.name }}
      </label>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
      <label for="contactName">Name</label>
      <input id="contactName" type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName" required #contactName="ngModel">
      <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">Please specify a name.</div>
    </div>
    <div class="form-group">
      <label for="contactPhone">Phone</label>
      <input id="contactPhone" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone" required #contactPhone="ngModel">
      <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">Please specify a name.</div>
    </div>
    <div class="form-group">
      <label for="contactEmail" for="">Email</label>
      <input id="contactEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail">
    </div>
    <button class="btn btn-primary" >Save</button>
  </form>
</div>
